name: Build and deploy Node.js app to Azure Web App

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: ExploreEpic
  AZURE_WEBAPP_PACKAGE_PATH: '.'  # Set this to the path to your web app project, defaults to the repository root
  NODE_VERSION: '20.x'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "ExploreEpicProject/Travel"

    steps:
      - uses: actions/checkout@v3
      - name: npm install, build
        run: |
          cd src
          npm install
          npm run build --if-present
      - name: Zip artifact for deployment
        run: zip -r release.zip src templates public
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v3
        with:
          name: node-app
          path: 'ExploreEpicProject/Travel/release.zip'

  deploy:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: "Development"
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: node-app
          path: 'ExploreEpicProject/Travel'  # Adjust this path if the artifact is downloaded elsewhere
      - name: List artifact contents
        run: ls -la
      - name: Unzip artifact for deployment
        run: |
          unzip ExploreEpicProject/Travel/release.zip -d ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
          mv ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/src/index.js ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/index.js
          cp ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/src/package-lock.json ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/package-lock.json
          cp ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/src/package.json ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/package.json
          cp ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/node_modules ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/node_modules
      - name: List unzipped files
        run: ls -la ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
      - name: "Deploy to Azure WebApp"
        id: "id"
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
